<!-- 循环products属性，存储在product变量里 -->
<div *ngFor="let product of products" class="col-md-4 col-sm-4 col-lg-4">
  <div class="thumbnail">
    <!-- <img src="../../assets/slide02.jpeg" alt=""> 属性绑定-->
    <img [src]="imgUrl" alt="">
    <div class="caption">
      <h4 class="pull-right">{{product.price}}元</h4>
      <h4><a [routerLink]="['/product', product.title]">{{product.title}}</a></h4>
      <p>{{product.desc}}</p>
    </div>
    <div>
      <app-stars [rating]="product.rating"></app-stars>
      <!-- app-stars这个组件的rating属性的值为product.rating -->
    </div>
  </div>
</div>